.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 140%;
      width: 98px;

      &:hover {
          transform: scale(1.05);
          transition-duration: 0.2s;
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.2em;
      text-decoration: none;
      color: rgb(23, 115, 158);
      font-weight: bold;
  
      .option {
        padding: 10px 15px;

        &:hover{
            text-decoration: underline;
        }
      }
    }
  }
  