body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a{
    text-decoration: none;
    color: rgb(23, 115, 158);
    font-weight: bold;
}

* {
    box-sizing: border-box;
}